CLOUDINARY_SECRET="cOxxxxxxxxxxxxxxxxxxx"

# Proveedores nvidia (https://build.nvidia.com/models) y gemini
AI_PROVIDER="gemini"

GEMINI_KEY="AIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AI_MODEL="gemini-2.5-flash"

AI_MODEL="z-ai/glm-4.7"
NVIDIA_API_KEY="nvapi-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
NVIDIA_BASE_URL="https://integrate.api.nvidia.com/v1"
